h1 a {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 1em;
  color: #DC143C;
  margin: 0px 0 30px 0;
  padding: 30px 0 0 0;
}
h2 a {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #FF8C00;
  margin: 0px 0 70px 0;
}
#myCarousel{
  width: 30%;
  margin: 0 auto;
}
